body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

